.set_display {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid red;
  padding: 10px;
  margin-top: 50px;
}
.set_div {
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  height: 50px;
  overflow: scroll;
}

h5 {
  text-align: center;
}
